#cart-index{
    background-color: $prime-col;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 40px;
    width: 800px;
    max-width: 90%;
    #dish-quantity{
        width: 70px;
        height: 35px;
        border-radius: 5px;
        background-color: $prime-col;
        color: $second-col;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        border:1px solid $second-col;
    }
    #tr{
        display: flex;

    }
    #tr-voices{
        display: flex;
    }
}
.cart-info-complete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    .cart-functionalities,
    .cart-info{
    display: flex;
    align-items: center;
    color: #111;
    >form{
        display: flex;
        align-items: center;
        input{
            margin-right: 10px;
        }
    }
    }
}
//CHECKOUT PAGE
.cart-checkout{
    background-color: $prime-col;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 40px;
    width: 800px;
    max-width: 90%;
    max-height: 90%;
    h4{
        margin-bottom: 50px;
        font-size: 20px;
    }
    div{
        color: #111;
    }
}
.form-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.price-text{
    margin-left: 10px;
}

