#filter{
  margin-top: 100px 0 50px 10px;
}


#restaurants-filtered{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  li{
    list-style: none;
  }
}

.research-container{
  width: 85%;
  background-color: $prime-col;
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  border-radius: 10px;
  margin: 100px 50px 100px 0;
  color: #111;
  font-weight: 600;
  p{
    margin: 40px 0 0 0;
  }
}
.restype-checkbox{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 40px 0 0 0;
}
