@media screen and (max-width: 991px){
    #lilgirl{
        display: none;
    }
    .navbar-ul{
        display: none;
    }
    #type-anim{
        flex-direction: column;
        max-width: 90%;
    }
    .btn-container{
        top: 60%;
        left:50%;
        transform: translateX(-50%);
    }
    #hamburger-menu{
        display: block;
    }
    header{
        padding: 0;
    }
    .sticky{
        padding: 10px 20px 10px 20px;
    }
    #up,#down{
        flex-direction: column;
        max-width: 70%;
        .images{
            min-width: none;
            max-width: 300px;
        }
    }
    .container-card{
        position: relative;
        margin:0;
        .card{
            margin:0;
        }
        .img-bx{
            width: 100%;
            height: 120px;
            img{
                width: 100px;
                height: 125px;
            }
        }
    }
    .toggle input[type="checkbox"] + label{
        margin: 5px;
    }
         
    #cart-index{
        
        #tr{
            display: flex;
           flex-direction: column; 
        }
        #tr-voices{
            display: none;
        }
    }
    .cart-info-complete{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .cart-functionalities,
        .cart-info{
        display: flex;
        }
    }
    .form-group{
        flex-direction: column;
       
    }
    .research-container{
        flex-direction: column;
        padding: 10px 10px;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
      }
      .rest-input{
        max-width: 150px
      }
      .road{
          display: none;
      }
      .text-todo{
          width: 220px;
      }
}