
// AGGIUNTA DA ANNALISA
.card-header {
    position: relative;
    z-index: 1;
}

#filter .research-container{
    margin: auto;
}

.picturefake {
    position: relative;
    z-index: 1;
}

.card, 
.searchbar {
    border: 2px solid #00ccbc;
    border-radius: 10px;
}

