//HOMEPAGE
.bg-active{  
    background-color: white;
}
.white-background{
    background-color: white;
    margin-top: 100px;
  }
.second-col{
    color: $second-col;
}
.img-container{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 300px;
    img{
        width: 100%;
    }
}
.typing{
    position: relative;
    color: $second-col; 
    margin-left: 10px;
}
.typing::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 90%;
    background-color: $second-col;
    border: 2px solid $second-col;
    animation: blink 0.5s infinite ease;
}
.links-container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    #up, #down{
        display: flex;  
        margin: 20px;
        width: 80%;
        .images{
            width: 500px;
            justify-content: center;
            align-items: center;
            margin: 20px;
            padding: 20px;
            background-color: $prime-col;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            img{
                margin: 20px;
                width: 70%;
            }
        }
        
    }
    #down{
        .images:nth-child(1){
            width: 700px;

        }
        .images:nth-child(2){
            width: 300px;

        }
    }
}
.rest-input{
    max-width: 400px;
    border-radius: 10px;
    outline: none;
    color: #111;
    border: 1px solid $second-col;
  }
.white-background{
    background-color: white;
}

//input
.text-todo{
    width: 400px;
    height: 40px;
    line-height: 1.5;
    background: rgba(255,255,255, .75);
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    padding: 20px;
    box-shadow: 0 15px 10px -10px rgba(0,0,0, .4);
    outline: none;
    transition: background .4s;
    cursor: pointer;
  }
  .text-todo:hover{
    background: #fff;
  }
  //fineinput
  .index-search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .index-search-column{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }